@charset "utf-8";

.banner {
	background: rgba(0,0,0,0) url("../images/loading.gif") no-repeat scroll 50% center;
	height: auto;
	overflow: hidden;
	position: relative
}

.slides {
	position: relative;
	z-index: 1
}

.slides li {
	height: auto
}

.slides li a img {
	width: 100%;
	max-width: 100%
}

.flex-control-nav {
	bottom: 5px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2
}

.flex-control-nav li {
	display: inline-block;
	height: 3px;
	margin: 0 5px;
	width: 50px
}

.flex-control-nav a {
	background-color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 3px;
	text-indent: -9999px;
	width: 50px
}

.flex-control-nav .flex-active {
	background: #ff8400 none repeat scroll 0 0
}

.flex-direction-nav {
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 3
}

.flex-direction-nav li a {
	cursor: pointer;
	display: block;
	height: 70px;
	opacity: .8;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	width: 50px
}

.flex-direction-nav li a.flex-prev {
	background: rgba(0,0,0,0) url("../images/btn-banner.png") no-repeat scroll left center;
	left: 40px
}

.flex-direction-nav li a.flex-next {
	background: rgba(0,0,0,0) url("../images/btn-banner.png") no-repeat scroll right center;
	right: 40px
}

.flex-direction-nav li a:hover {
	opacity: .6
}

.sbanner img {
	width: 100%
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0
}

fieldset,img {
	border: 0 none
}

:focus {
	outline: 0 none
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}

body {
	line-height: 1.5
}

ol,ul {
	list-style: outside none none
}

:link,:visited,ins {
	text-decoration: none
}

blockquote::before,blockquote::after,q::before,q::after {
	content: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}




@media only screen and (max-width:990px) {
	.banner .flex-direction-nav {
		display: none
	}

	.banner .flex-control-nav {
		display: none
	}

@media only screen and (max-width:479px) {
	.banner .flex-direction-nav {
		display: none
	}

	.banner .flex-control-nav {
		display: none
	}

	