@charset "utf-8";
   .g-blk-case {
        width: 99%
    }

    .product-info {
        width: 100%
    }

    .g-blk-case {
    height: 345px;
    padding: 45px 0 35px
}

.g-blk-case .g-w1000 {
    position: relative;
    width: 1080px
}

.g-blk-case .btn {
    background: rgba(0,0,0,0) url(../images/btn-scroll.png) no-repeat scroll 0 0;
    display: block;
    height: 31px;
    position: absolute;
    width: 20px
}

.g-blk-case .prev {
    background-position: left center;
    left: 0;
    top: 250px
}

.g-blk-case .next {
    background-position: right center;
    right: 0;
    top: 250px
}

.g-blk-case .case {
    height: 240px;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    width: 1000px
}

.g-blk-case ul li {
    display: inline;
    float: left;
    height: 240px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    width: 320px
}

.g-blk-case ul li a img,.g-blk-case ul li a p {
    transition: all .5s ease 0s
}

.g-blk-case ul li a:hover img {
    transform: scale(1.1)
}

.g-blk-case ul li a p {
    background: #004b8c none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    height: 100%;
    left: 0;
    line-height: 240px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: scale(0);
    width: 100%;
    z-index: 99
}

.g-blk-case ul li a:hover p {
    border-radius: 50% 0;
    transform: scale(1)
}