header{width: 100%;}
.logo{margin:0px auto;overflow: hidden;}

nav{width:100%;line-height: 60px; text-align: center;background: #3333CC;}
ul.menu{margin:auto; overflow: hidden;}
ul.menu li{ display: inline-block;color: #fff;padding:0px 20px;z-index: 1000}
ul.menu li a{color: #fff;text-decoration: none; padding:16px 6px;}
ul.menu li a:active{color: #08774d; text-decoration: none;}
ul.menu li a:hover{border-bottom: 6px solid #FFFF00; bottom:0px;z-index: 1000}
ul.menu li ol {position: absolute; background:#3333CC;opacity: 0.9;overflow: hidden;height: 0px; transition: height 0.5s;}
ul.menu li:hover ol{display:block; height: auto;z-index: 1000}
ul.menu li ol li{display: block;}
